@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

@font-face {
  font-family: 'BNRoute22';
  src: url('~static/BNRoute22.otf') format('opentype');
  font-display: swap;
}

$bnr22: 'BNRoute22',
font-VT232;
$font-mono: 'Inconsolata',
monospace;
$font-round: 'Comfortaa',
sans-serif;
$min-width: 780px;


/* Colors */
$blue: #3D4E55;
$peach: #F89B6A;
$dark-gray: #3A3A3A;
$light-gray: #7E7E7E;
$dark-blue: darkblue;

/* Background Colors */
$midnight: #3C4E55;
// $night: rgba(47, 20, 55, 1);
$night: #3C4E55;
$twilight: #475255;
$sunset: #6D615A;
// $day: rgba(50, 157, 216, 1);
$day: #92705E;

/* Text Colors */
$text-primary: #fff;
