/* This is a SCSS variable file for storing
 * colors used across the website. Colors can
 * be accessed from a component for example by
 * importing the scss file as seen below:
 *    @import '../styles/colors';
 * Then colors can be accessed by their name:
 *    div { color: $vth-red; }
 */

/* VTHacks Colors */
$vth-red: #ec4150;
$vth-blue: #1bcffc;
$vth-term-background: #111;
$vth-term-color: $vth-blue;
$neon-pink: #fd00d5;
$neon-blue: #0af6f1;
$neon-yellow: #f0ff00;
$neon-green: #00ff6b;

/* Background Colors */
$background-splash: #333;
$rich-black: #010B13;

/* Text Colors */
$text-primary: #fff;

