/*
*  This is used by the terminal webform and its
*  children to keep it all consistent
*/

$terminal-text-color: lime;
$terminal-error-color: red;
$terminal-background: black;
$terminal-font-size: 30px;