@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$font-2P: 'Press Start 2P', monospace;
$font-VT232: 'VT323', monospace;
$font-mono: 'Inconsolata', monospace;
$font-round: 'Comfortaa', sans-serif;
$splash-min-width: 600px;
